#start_page {
	text-align:center;
}

#start_page p {
	text-size: 200%;
}

#game_page {
}

.hide {
	display: none;
}

.show {
	display: block;
}

#info_bar {
	height: 40px;
	width: 1000px;
}

#info_bar > * {
	display: inline-block;
}
